:root{
    --primary-color: #FF0000;
    --secondary-color: #FFD700;
    --accent-color: #0000; 
    --background: white;
}

table{
    border: 1px solid black;
    
}
td{
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
   
    
}